.footer {
  min-height: 200px;
  padding-top: 60px;
  padding-bottom: 50px;
  background: #171718;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 27px;
}

.copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}